mixin header(image, title, phrase, buttons)
	.jumbotron.header(style="background-image: url(" + image + ");")
		.container
			span.text-stroke.text-right
				h1.text-white= title
				p.text-white= phrase
			//- Add support for optional buttons.