.calendar th {
	border: 0 !important;
	padding-bottom: 0 !important;
}

#month {
	padding-left: 20px;
}

.calendar .banner {
	background-color: red;
}

.change-month {
	text-align: right;
	vertical-align: middle !important;
}

.change-month span {
	color: white;
	font-size: 25px;
	padding: 0rem 1rem 0rem 1rem;
}

.day-title {
	text-align: right;
	padding-right: 5px;
}

.day-title h5 {
	margin: 0;
	padding: 0rem .5rem .5rem 0rem;
}

.days td {
	vertical-align: top;
	width: 15vw;
	height: 15vh;
	border: 1px solid #dddddd;
}

.day-number {
	display: block;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
	font-size: 2.3rem;
	color: black;
}

.events {
	padding-left: 35px;
	padding-right: 5px;
}

.event {
	font-size: 30px;
	line-height: 0.8;	
}

.event span {
	font-size: 13px;
	vertical-align: middle;
}

.event-xs {
	text-align: center;
	font-size: 1.5rem;
	color: red;
}