.calendar th {
	border: 0 !important;
	padding-bottom: 0 !important;
}

.calendar .banner {
	background-color: red;
}

.change-month {
	text-align: right;
	vertical-align: middle !important;
}

.change-month span {
	color: white;
	font-size: 25px;
	padding: 0rem 1rem 0rem 1rem;
}

.day-title {
	text-align: right;
	padding: 0;
	margin: 0;
}

.day-title h5 {
	margin: 0;
	padding: 0rem .5rem .5rem 0rem;
}

.days td {
	width: 15vw;
	height: 15vw;
	border: 1px solid #dddddd;
}

.day-number {
	float: right;
	font-size: 18px;
	color: black;
}

