/* CSS added here will apply to every single page */

.navbar-header {
	padding-left: 10px;  /* For the hamburger button in mobile */
}

body {
	padding-top: 65px;
}

.text-white {
	color: white !important;
}

.text-stroke {
	 text-shadow: 2px 2px #000;
}

.make-longer-pls {
	padding-bottom: 9em;
}