h6 {
	font-size: 12pt;
}

.coachingStaffTitle, .leader {
	margin-top: 0;
	margin-bottom: 0;
}

.gameScheduleTitle, .position {
	margin-bottom: 0em;
}

.coachingStaff {
	color: #444444;
}

.coachingStaff, .gameSchedule, .position {
	font-size: 10.25pt;
}

.league {
	margin-top: -.6em;
	font-size: 9.25pt;
	color: #666666;
}

.position {
	margin-top: -.5em;
}

.leaderInformation {
	margin: .35em 0em .35em;
}

.leaderInformation > span {
	margin-right: .35em;
}

.sy-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 416px !important;
}

.sy-pager li.sy-active a {
	background-color: #e51c23;
}

.sy-controls li a:after {
	background-image: url("/assets/img/arrows.svg") !important;
}

.sy-box.sy-loading {
	background-image: url("/assets/img/sy-loader.gif") 50% 50% no-repeat !important;
}