h6 {
	font-size: 12pt;
}

.season {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.season-text {
	flex-grow: 0;
	padding-right: .5rem;
	font-size: 14pt;
}

.season-line {
	flex-grow: 1;
	height: 1px;
	background-color: lightgray;
}

.coachingStaffTitle, .leader {
	margin-top: 0;
	margin-bottom: 0;
}

.gameScheduleTitle, .position {
	margin-bottom: 0em;
}

.coachingStaff {
	color: #444444;
}

.coachingStaff, .gameSchedule, .position {
	font-size: 10.25pt;
}

.league {
	margin-top: -.6em;
	font-size: 9.25pt;
	color: #666666;
}

.position {
	margin-top: -.5em;
}

.leaderInformation {
	margin: .35em 0em .35em;
}

.leaderInformation > span {
	margin-right: .35em;
}