/* CSS added here will apply to every single page */
hr {
	margin-top: 5em;
	margin-bottom: 5em;
}

p {
	font-size: 11pt;
}

.navbar-header {
	padding-left: 10px;  /* For the hamburger button in mobile */
}

body {
    margin: 30px 0px;
}

.navbar-icon {
	margin-left: .25rem;
	margin-right: 1.5rem;
}

.navbar-header {
	display: flex;
	justify-content: start;
	align-items: center;
}

.navbar-brand {
	color: #e51c23 !important;
	font-weight: bolder;
	font-size: 22pt;
	text-shadow: 0px 0px 1px rgba(0, 0 , 0, 0.3);
	margin-right: 5rem;
}

/* Collapses the navbar sooner to account for larger items and social icons. */
@media (max-width: 969px) {
	.navbar-header {
		float: none;
	}
	
	.navbar-left, .navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none!important;
	}

	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}
}

.navbar {
	margin-bottom: 0;
}

.navbar li, .navbar-btn {
	font-size: 12pt;
}

.navbar-btn {
	margin-left: 15px;
	margin-right: 15px;
	padding-right: 3.5rem;
	padding-left: 3.5rem;
}

.text-white {
	color: white !important;
}

.text-stroke {
	 text-shadow: 1px 2px #000;
}

.header {
	display: flex;
	align-items: center;
	height: 31rem;
	margin-bottom: 5em;
	background-repeat: no-repeat;
	background-color: rgba(0, 0 ,0, 0.25);
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
}

.header-text {
	min-width: 75%;
}

@media (max-width: 576px) {
	.header-text h1 {
		font-size: 40px;
	}
}

.btn-nav {
	margin: .1em .1em;
}

/* A little hack to prevent the navbar to cover the content scrolled to via anchors. */
.section:before {
	content: "";
	display: block;
	position: relative;
	width: 0;
	height: 64px;
	margin-top: -64px;
}

.section h2 {
	margin-top: 0;
}

.inner-section {
	padding-top: .5rem;
}

.inner-section > h4 {
	text-align: left;
	font-weight: lighter;
}

#jump {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2147483647;
	width: 5rem;
	height: 5rem;
	box-shadow: 1px 1px 1px rgba(0, 0 , 0, 0.3);
	border-radius: 50%;
	background-color: #e51c23;
	color: white;
	text-decoration: none;
	font-size: 2.5rem;
	cursor: pointer;
}

#jump > .glyphicon {
	padding-bottom: .15rem;
}

@media (min-width: 1200px) {
	#jump {
		bottom: 3rem;
		right: 5rem;
	}
}

thead {
	background-color: white;
}

.search {
	outline: none;
}

.table-scroll, .list-group {
	max-height: 25em;
	overflow: auto;
}

#footer {
	margin-top: 5rem;
}