.inner-section {
	display: flex;
	align-items: center;
}

.inner-section > h4 {
	margin: 0;
	padding-right: 2rem;
}

.inner-section > input {
	outline: none;
}

thead {
	background-color: white;
}

.table-scroll {
	max-height: 25em;
	overflow: auto;
}

.tooltip {
	font-size: 13px;
}

.tooltip-inner {
	background-color: #2196f3 !important;
	border-radius: 5px !important;
}

.tooltip-arrow {
	border-top-color: #2196f3 !important;
}

.list-group-item-heading {
	font-size: 13pt;
}