.step {
	display: flex;
	align-items: center;
}

.step-number {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	color: white;
}

.step-body {
	display: inline-block;
	margin-left: 5rem;
}

@media (max-width: 768px) {
	.title {
		font-size: 20px;
	}
}

.subtitle {
	font-weight: lighter;
	font-size: 18px;
}

@media (max-width: 768px) {
	.subtitle {
		font-size: 16px;
	}
}

.deadline .title {
	margin-top: 3rem;
}

.deadline a {
	width: 85%;
}

@media (max-width: 991px) {
	.deadline a {
		width: 50%;
	}
}

#deadlineDate {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	color: white;
	background-color: #e51c23;
}

#deadlineMonth {
	margin-bottom: -2.75rem;
	font-weight: bold;
	font-size: 13pt;
}

#deadlineDay {
	font-size: 45px;
	margin-bottom: -1.25rem;
}

.date {
	display: flex;
}

.date .calendar-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 141.5px;
	background-color: #3996ff;
	margin-left: 0;
	padding: 0 1rem 0 1.8rem;
}

.date > .calendar-icon > .glyphicon {
	color: white;
	font-size: 5rem;
}

.date .body {
	margin-left: 2rem;
	margin-bottom: 11.5px;
}

.date h4 {
	font-weight: lighter;
}

.date p {
	margin: 0;
}