/* CSS added here will apply to every single page */
hr {
	margin-top: 5em;
	margin-bottom: 5em;
}

p {
	font-size: 11pt;
}

.navbar-header {
	padding-left: 10px;  /* For the hamburger button in mobile */
}

body {
    margin: 30px 0px;
}

.navbar {
	margin-bottom: 0;
}

.navbar li {
	font-size: 12pt;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
	background-color: rgb(231, 231, 231);
	color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
	display: inline-block;
}

.navbar-btn {
	margin-left: 15px;
}

.text-white {
	color: white !important;
}

.text-stroke {
	 text-shadow: 1px 2px #000;
}

.header {
	display: flex;
	align-items: center;
	height: 31rem;
	margin-bottom: 5em;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0 ,0, 0.25);  
	background-blend-mode: multiply;
	background-position: center;
}

.header-text {
	min-width: 75%;
}

.btn-nav {
	float: right;
	margin: .1em .1em;
}

/* A little hack to prevent the navbar to cover the content scrolled to via anchors. */
.section:before {
	content: "";
	display: block;
	position: relative;
	width: 0;
	height: 64px;
	margin-top: -64px;
}

.section h2 {
	margin-top: 0;
}