/* CSS added here will apply to every single page */
body {
	padding-top: 64px;
}

hr {
	margin-top: 5em;
	margin-bottom: 5em;
}

p {
	font-size: 10.75pt;
}

.navbar-header {
	padding-left: 10px;  /* For the hamburger button in mobile */
}

.text-white {
	color: white !important;
}

.text-stroke {
	 text-shadow: 2px 2px #000;
}

.header {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0 ,0, 0.5);  
	background-blend-mode: multiply;
	background-position: center;
	margin-bottom: 0;
	padding-bottom: 9em;
}

.btn-nav {
	float: right;
	margin: .1em .1em;
}

/* A little hack to prevent the navbar to cover the content scrolled to via anchors. */
.section:before {
	content: "";
	display: block;
	position: relative;
	width: 0;
	height: 64px;
	margin-top: -64px;
}