p.text-center#footer © {{year}} University High School of Science and Engineering. #[br] Designed by #[a(href = "https://github.com/tpatel1781", target = "_blank") Tej Patel], developed by #[a(href = "http://duro.me", target = "_blank") Andi Duro] and #[a(href = "https://github.com/spoonbytes", target = "_blank") Spencer Berenson]. 
script.
	let footer = document.getElementById("footer");
	footer.innerHTML = footer.innerHTML.replace(/{{year}}/i, new Date().getFullYear());