extends _templates/base.jade

block head
	title About | UHSSE
	link(rel = "stylesheet", href = "/assets/css/about.css")

block body
	+header("/assets/img/about.jpg", "A school where smart is cool", "We seek to bring out the best in each of our students")
	
	+section("Contacts", "Get in touch with our staff")
		table.table.table-striped.table-hover
			thead
				th Name
				th Position
				th Email
			tbody
				each contact in contacts
					tr
						td= contact.name
						td= contact.position
						td
							a(href="mailto://" + contact.email)= contact.email