extends _templates/base.jade
include _templates/header.jade

mixin contacts()
	each contact in contacts
		tr
			each data in contact
				td= data

block head
	title About Us | UHSSE
	link(rel = "stylesheet", href = "/assets/css/about.css")

block body
	+header("/assets/img/about.jpg", "A school where smart is cool", "We seek to bring out the best in each of our students")
	//- TODO: switch to constructing these sections through JSON.
	.container-fluid
		h2 Contacts
			p.lead Get in touch with our staff

		hr
		table.table.table-striped.table-hover
			thead
				th Name
				th Position
				th Email
			tbody
				+contacts()

