extends _templates/base.jade

block head
	title Academics | UHSSE
	link(rel = "stylesheet", href = "/resources/css/academics.css")


block body
	.container-fluid
		h1.title.text-center Departments
		h3.title Mathematics #[small Taylor Bacon]
		p STEM Mathematics is a study of mathematical methods that are typically used in science, engineering, business, and industry with a review of essential concepts from Algebra 2 and Pre-Calculus.  Students will work on application problems which include trigonometry, systems of linear equations, quadratic, exponential, and logarithmic function basics to mathematically model problems and derive solutions with emphasis on the use of technology and other tools.  
		.row
			.col-md-4
				.panel.panel-default
					.panel-heading
							h5.title Algebra 2 #[small Kate Grayeb]
								.btn-group.pull-right
									button.btn.btn-link.btn-sm.dropdown-toggle(type = "button", data-toggle = "dropdown")
										span.glyphicon.glyphicon-option-vertical
									ul.dropdown-menu
										li
											a #[span.glyphicon.glyphicon-envelope(style = "padding-right: 5px;")] Email Teacher
										li
											a #[span.glyphicon.glyphicon-file(style = "padding-right: 5px;")] View Syllabus

							//- #[a.btn.btn-link.btn-sm.pull-right #[span.glyphicon.glyphicon-option-vertical]]

					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra odio vel dolor volutpat, id faucibus diam commodo. Suspendisse malesuada velit in ornare aliquam. Quisque mauris turpis, aliquam id molestie viverra, ultrices vel nisl. Etiam ligula sem, aliquam ac elit vitae, ultrices ornare orci. Morbi rutrum pellentesque rhoncus. Sed ut ultrices felis.
					.panel-footer
						h5.text-right #[span.label.label-primary Honors] #[span.label.label-danger ECE]
			.col-md-4
				.panel.panel-default
					.panel-heading
							h5.title Calculus 1 #[small Paul Stellar]
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra odio vel dolor volutpat, id faucibus diam commodo. Suspendisse malesuada velit in ornare aliquam. Quisque mauris turpis, aliquam id molestie viverra, ultrices vel nisl. Etiam ligula sem, aliquam ac elit vitae, ultrices ornare orci. Morbi rutrum pellentesque rhoncus. Sed ut ultrices felis.
					.panel-footer
						h5.text-right #[span.label.label-primary Honors] #[span.label.label-danger ECE]
			.col-md-4
				.panel.panel-default
					.panel-heading
							h5.title Statistics #[small Taylor Bacon]
					.panel-body
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra odio vel dolor volutpat, id faucibus diam commodo. Suspendisse malesuada velit in ornare aliquam. Quisque mauris turpis, aliquam id molestie viverra, ultrices vel nisl. Etiam ligula sem, aliquam ac elit vitae, ultrices ornare orci. Morbi rutrum pellentesque rhoncus. Sed ut ultrices felis.
					.panel-footer
						h5.text-right #[span.label.label-danger ECE]

