extends _templates/base.jade

block head
	title Extracurriculars | UHSSE
	link(rel = "stylesheet", href = "/assets/css/extracurriculars.css")

block body
	+header("/assets/img/extracurriculars.jpg", title, phrase, buttons)

	.container
		+section("Sports", "Get your game on")