extends _templates/base.jade

block head
	title UHSSE
	link(rel = "stylesheet", href = "/assets/css/index.css")
	script(src="assets/js/index.js" defer)

block body
	+header(banners, name, phrase)
	.banner-strip
		p.text-white.text-center
			| 351 Mark Twain Drive, Hartford CT 06112 
			a.btn.btn-default(href = "https://goo.gl/maps/1trdfAtqE4A2" target="_blank") #[span.glyphicon.glyphicon-road] Get Directions