extends _templates/base.jade

block head
	title News | UHSSE
	link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css")
	link(rel="stylesheet" href="/assets/css/news.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" defer)
	script(src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js" defer)
	script(src="assets/js/news.js" defer)

block body
	+header(banner, name, lead)
	.container
		+section(calendar.name, calendar.lead)
			#calendar