extends _templates/base.jade

block head
	title Prospective Students | UHSSE
	link(rel = "stylesheet", href = "/assets/css/prospective.css")
	script(src="assets/js/prospective.js" defer)

block body
	+header(banner, name, lead)